/* to_Do_List CSS */
#wrap > header > .title_menu > h1 {
    font-size: 1.125em;
}

#wrap > header > .title_menu > .search_menu_btn > a > img {
    width: 2em;
    height: 2em;
} 

#wrap > header > .all_today_text > a {
    font-size: 1.125em;
}


